.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  width: 50%;
  height: 10%; /* Imposta un'altezza fissa */
}

.card-body {
  height: 100%; /* Assicura che il contenuto riempia completamente l'altezza della card */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(13, 110, 253); /* Colore di sfondo del footer */
  padding: 20px 0; /* Spaziatura interna del footer */
  text-align: center;
}
.custom-card {
  width: 500px; /* Larghezza desiderata */
  height: 800px; /* Altezza desiderata */
}
